<h1> Let's get started! 

<h5> The aim of this project is to clean the data and analyze the included used car listings. You'll also become familiar with some of the unique benefits jupyter notebook provides for pandas.

In [31]:
import pandas as pd
import numpy as np

In [82]:
autos = pd.read_csv('autos.csv', encoding="latin-1")
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [29]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

probably some missing values in vehicletype, 
, model, fueltype, notrepair damage. mostly string types in cols.

    The dataset contains 20 columns, most of which are strings.
    Some columns have null values, but none have more than ~20% null values.
    The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

In [83]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [84]:
column_map = {'yearOfRegistration': 'registration_year', 'monthOfRegistration': 'registration_month', 'notRepairedDamage': 'unrepaired_damage', 'dateCreated': 'ad_created', 'dateCrawled': 'date_crawled', 'offerType': 'offer_type', 'vehicleType': 'vehicle_type', 'powerPS': 'power_ps', 'fuelType': 'fuel_type', 'nrOfPictures': 'nr_of_pictures', 'postalCode': 'postal_code', 'lastSeen': 'last_seen'}
autos.rename(columns=column_map, inplace=True)
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [34]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Did this work to show a new dataframe that is has snakecase instead of camel case in the df columns. Easy way is to find the colunms using df.columns, copy the array and make it a dict to pass into the df.rename method.

In [36]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-22 09:51:06,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

looking at the unique count on some of the cols including seller, offertype, abtest, are low. a lot of those have NaN. cols such as price, odometer look like numeric stored as text.

In [39]:
autos['price'].head() #can see numbers stored as text

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object

In [42]:
autos['odometer'].head() #numeric stored as text

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

In [85]:
#define functions for changing numeric types from being stored as string objects
def convert_price(price):
    price = price.strip()
    price = price.replace("$","")
    price = price.replace(",","")
    return price
def clean_odometer(odometer):
    odometer = odometer.strip()
    odometer = odometer.replace(",","")
    odometer = odometer.replace("km","")
    return odometer

In [86]:
numeric_price = []
numeric_odometer = []

for p in autos['price']:
    p = convert_price(p)
    numeric_price.append(p)
    
for o in autos['odometer']:
    o = clean_odometer(o)
    numeric_odometer.append(o)
    
autos['price'] = numeric_price
autos['odometer'] = numeric_odometer
    
autos['price'] = autos['price'].astype('int')
autos['odometer'] = autos['odometer'].astype('int')

In [87]:
#rename the cols
autos.rename(columns={'odometer': 'odometer_km'}, inplace=True)
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [9]:
autos['price'].unique().shape

(2357,)

In [74]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [107]:
autos['price'].max() #seems weird and high

99999999

In [108]:
autos['price'].min() #seems low and odd to have 0 for price

0

In [119]:
autos['price'].value_counts().head(15)

0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
999      434
750      433
900      420
650      419
850      410
Name: price, dtype: int64

<h4> there are a lot of zeros

In [88]:
autos['price'].value_counts().sort_index(ascending=False).head(15)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
Name: price, dtype: int64

There are a few really high values here we could remove

In [76]:
autos['price'].value_counts().sort_index(ascending=True).head(27)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
40       6
45       4
47       1
49       4
50      49
55       2
59       1
Name: price, dtype: int64

Decent amount of ones as well which seems odd

In [89]:
#remove outliers
#autos[(autos['price'] > 999989) & (autos['price'] < 50)]
x = 1
y = 99999998
autos = autos[autos['price'].between(x,y)]
autos['price'].value_counts().sort_index(ascending=False).head(15)

27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
Name: price, dtype: int64

removed the zeros and 9999999 values bc they were outliers. did not use sd or percentile to justify the removal.

In [14]:
autos['odometer_km'].unique().shape

(13,)

In [90]:
autos['odometer_km'].value_counts().sort_index(ascending=False).head(15)

150000    31421
125000     5058
100000     2116
90000      1734
80000      1415
70000      1217
60000      1155
50000      1014
40000       816
30000       780
20000       762
10000       253
5000        837
Name: odometer_km, dtype: int64

In [16]:
autos['odometer_km'].value_counts().sort_index(ascending=True).head(15)

5000        837
10000       253
20000       762
30000       780
40000       816
50000      1014
60000      1155
70000      1217
80000      1415
90000      1734
100000     2116
125000     5058
150000    31421
Name: odometer_km, dtype: int64

In [131]:
autos['odometer_km'].describe()

count     48578.000000
mean     125765.675820
std       39793.193823
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [78]:
#remove outliers - 150,000km to see what it looks like
autos_clean = autos[autos["odometer_km"].between(0,149000)]
autos_clean

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer_km,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,5299,control,kleinwagen,2010,automatik,71,fortwo,50000,9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,18900,test,coupe,1982,automatik,203,NaN,80000,6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,25450,control,cabrio,2015,manuell,184,cooper,10000,1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,48500,control,limousine,2014,automatik,306,5er,30000,12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,777,control,kleinwagen,1992,manuell,54,polo,125000,2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
37,2016-03-23 16:47:46,Seat_Altea_XL_2.0_TDI_CR_DPF_Style,privat,Angebot,13800,test,bus,2012,manuell,140,altea,90000,2,diesel,seat,nein,2016-03-23 00:00:00,0,85113,2016-04-05 20:17:53
38,2016-03-21 15:51:10,Volkswagen_Golf_1.4_Special,privat,Angebot,2850,control,limousine,2002,manuell,75,golf,125000,2,benzin,volkswagen,nein,2016-03-21 00:00:00,0,63674,2016-03-28 12:16:06
42,2016-03-22 21:37:03,Vw_Polo_l.0_/60_PS_Blue_Motion_Technologie_Son...,privat,Angebot,11900,control,kleinwagen,2014,manuell,60,polo,20000,7,benzin,volkswagen,NaN,2016-03-22 00:00:00,0,26629,2016-04-06 18:44:39
43,2016-03-08 16:51:22,Audi_A1_1.2_TFSI_Attraction_mit_Garantie,privat,Angebot,11500,test,kleinwagen,2011,manuell,86,a1,60000,9,benzin,audi,nein,2016-03-08 00:00:00,0,85049,2016-04-07 03:16:05
49,2016-03-27 15:36:42,Mercedes_Benz_CL_500__BlueEFFICIENCY__7G_TRONIC,privat,Angebot,56000,control,coupe,2012,automatik,435,cl,60000,2,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,34474,2016-04-05 11:47:52
50,2016-03-09 16:48:05,??_????????_??Top!!!_Peugeot_308_sw_Sport_?...,privat,Angebot,5999,test,kombi,2008,manuell,150,3_reihe,125000,8,benzin,peugeot,nein,2016-03-09 00:00:00,0,55569,2016-04-07 06:17:09
52,2016-03-25 18:50:03,Senator_A_3.0E_Karosserie_restauriert_m._viele...,privat,Angebot,3500,test,limousine,1985,NaN,0,andere,5000,0,benzin,opel,nein,2016-03-25 00:00:00,0,63500,2016-04-07 00:46:00
53,2016-04-02 17:45:01,Dacia_Sandero_Stepway_II_MPI_85__top_gepflegt,privat,Angebot,9000,control,limousine,2012,manuell,84,sandero,30000,7,benzin,dacia,nein,2016-04-02 00:00:00,0,53639,2016-04-06 16:46:50
54,2016-03-15 19:51:34,Ford_Focus_1.8_Futura,privat,Angebot,2500,control,limousine,2004,manuell,116,focus,125000,9,benzin,ford,nein,2016-03-15 00:00:00,0,6886,2016-03-30 09:47:29
55,2016-03-07 02:47:54,Mercedes_E320_AMG_zu_Tauschen!,privat,Angebot,1,test,NaN,2017,automatik,224,e_klasse,125000,7,benzin,mercedes_benz,nein,2016-03-06 00:00:00,0,22111,2016-03-08 05:45:44
56,2016-03-18 20:49:55,Renault_Clio,privat,Angebot,650,test,kleinwagen,1997,manuell,58,clio,125000,7,benzin,renault,NaN,2016-03-18 00:00:00,0,59229,2016-03-31 06:15:57
58,2016-03-30 12:25:18,Volkswagen_Golf_1.4,privat,Angebot,4200,control,limousine,2004,manuell,75,golf,125000,11,benzin,volkswagen,nein,2016-03-30 00:00:00,0,56073,2016-04-01 08:29:34
62,2016-03-12 17:41:11,Volkswagen_Golf_Plus_1.6_FSI_Goal,privat,Angebot,6300,test,bus,2006,manuell,116,golf,125000,4,benzin,volkswagen,nein,2016-03-12 00:00:00,0,80939,2016-04-03 08:16:15
63,2016-03-14 22:51:19,MINI_Mini_Cooper_S___Xenon_Leder,privat,Angebot,13950,control,kleinwagen,2011,manuell,184,cooper,70000,6,benzin,mini,nein,2016-03-14 00:00:00,0,14532,2016-04-06 18:46:08
65,2016-04-04 19:30:39,Ford_Fiesta_zum_ausschlachten,privat,Angebot,250,control,NaN,2017,manuell,65,fiesta,125000,9,benzin,ford,NaN,2016-04-04 00:00:00,0,65606,2016-04-05 12:22:12
68,2016-04-03 17:36:59,Mini_cooper_s_clubman_/vollausstattung_/_Navi/...,privat,Angebot,10990,test,NaN,2017,manuell,174,clubman,100000,0,NaN,mini,nein,2016-04-03 00:00:00,0,83135,2016-04-05 17:26:26
69,2016-03-21 18:58:06,Dacia_Sandero_1.4_MPI__Basis,privat,Angebot,2500,test,kleinwagen,2009,manuell,75,sandero,90000,5,benzin,dacia,nein,2016-03-21 00:00:00,0,74388,2016-03-28 16:46:41
73,2016-03-18 23:41:21,VW_T3_Doka_1_7D_TÜV_07/2017,privat,Angebot,2700,test,bus,1986,manuell,57,transporter,125000,8,diesel,volkswagen,NaN,2016-03-18 00:00:00,0,82205,2016-04-05 23:16:13
76,2016-03-22 14:52:57,BMW_318i_neustes_Model_0Km,privat,Angebot,31999,control,limousine,2016,manuell,136,3er,5000,2,benzin,bmw,NaN,2016-03-22 00:00:00,0,45149,2016-04-06 05:15:42
85,2016-03-11 12:36:21,Toyota_yaris_cool,privat,Angebot,5000,test,kleinwagen,2009,manuell,0,yaris,60000,12,NaN,toyota,NaN,2016-03-11 00:00:00,0,30916,2016-04-07 08:17:01
86,2016-04-03 18:53:46,Mitsubishi_Colt_CAO_16_V_Malibu_20_Jahre_in_1....,privat,Angebot,399,control,coupe,1995,manuell,113,colt,125000,10,benzin,mitsubishi,ja,2016-04-03 00:00:00,0,58507,2016-04-03 18:53:46
89,2016-04-05 00:57:27,Audi_A6_2.4,privat,Angebot,7900,control,limousine,2005,automatik,177,a6,125000,1,benzin,audi,nein,2016-04-05 00:00:00,0,92660,2016-04-07 08:46:52
90,2016-03-07 13:50:22,Audi_A3_2.0_TDI_Cabrio_S_tronic__clean_diesel_...,privat,Angebot,34900,control,cabrio,2014,automatik,150,a3,20000,5,diesel,audi,nein,2016-03-07 00:00:00,0,32052,2016-03-24 03:47:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49918,2016-04-03 13:46:18,Peugeot_206_cc_1_6_16V_Coupe_Cabrio__schwarz_L...,privat,Angebot,5050,control,cabrio,2007,manuell,109,2_reihe,100000,2,benzin,peugeot,nein,2016-04-03 00:00:00,0,79238,2016-04-05 12:44:32
49921,2016-03-05 14:29:00,Smart_ForTwo_Cabrio_Schwarz_HU+AU_bis_Oktober_...,privat,Angebot,2350,test,cabrio,2000,automatik,54,fortwo,100000,4,benzin,smart,NaN,2016-02-16 00:00:00,0,55411,2016-04-05 12:30:49
49923,2016-03-05 15:41:51,Toyota_Yaris_1.0_VVT_i,privat,Angebot,4500,control,kleinwagen,2009,manuell,69,yaris,125000,1,benzin,toyota,nein,2016-03-05 00:00:00,0,32676,2016-04-07 05:45:26
49924,2016-03-21 14:43:15,Seat_Ibiza_1.Hand__Scheckheft,privat,Angebot,3400,control,kleinwagen,2008,manuell,60,ibiza,125000,5,benzin,seat,nein,2016-03-21 00:00:00,0,44357,2016-03-24 03:15:28
49929,2016-03-27 13:58:31,Opel_Corsa_Swing,privat,Angebot,1390,test,kleinwagen,1993,manuell,60,corsa,125000,11,benzin,opel,nein,2016-03-27 00:00:00,0,40229,2016-04-07 09:46:31
49931,2016-03-22 16:54:39,LANCIA_luxusausstattung_limosine_1.8_fuer_export,privat,Angebot,799,test,limousine,2003,manuell,131,lybra,100000,2,benzin,lancia,ja,2016-03-22 00:00:00,0,80807,2016-04-06 08:17:09
49933,2016-04-03 23:55:34,Volkswagen_New_Beetle_1.9_TDI,privat,Angebot,5500,control,limousine,2001,manuell,90,beetle,125000,1,diesel,volkswagen,nein,2016-04-03 00:00:00,0,41352,2016-04-06 08:16:28
49934,2016-03-11 19:44:33,Mazda_MX_5_1.6i_16V_Rostfrei__Top_Zustand,privat,Angebot,4999,test,cabrio,1999,manuell,110,mx_reihe,80000,6,benzin,mazda,nein,2016-03-11 00:00:00,0,52224,2016-04-06 00:16:54
49939,2016-03-13 15:43:19,Audi_TT_Roadster_2.0_TFSI,privat,Angebot,16995,test,cabrio,2007,manuell,200,tt,80000,3,benzin,audi,nein,2016-03-13 00:00:00,0,94522,2016-04-06 17:16:35
49941,2016-03-15 00:53:25,Maserati_Ghibli_Diesel_Automatik,privat,Angebot,62000,test,limousine,2015,automatik,275,NaN,10000,8,diesel,sonstige_autos,nein,2016-03-14 00:00:00,0,10179,2016-03-30 23:17:48
49942,2016-03-09 19:43:33,Audi_A3_2.0_TDI_Sportback_DPF_Ambition,privat,Angebot,10000,test,kombi,2007,manuell,140,a3,125000,10,diesel,audi,nein,2016-03-09 00:00:00,0,66663,2016-04-05 13:15:31
49948,2016-03-22 16:44:57,Hyundai_ix35_2.0_CRDi_4WD_Automatik,privat,Angebot,19900,test,suv,2013,automatik,184,i_reihe,70000,5,diesel,hyundai,nein,2016-03-22 00:00:00,0,96515,2016-04-06 06:45:11
49950,2016-03-15 13:45:36,Volvo_V70_2_II__2002__AHK__Klima__Volleder,privat,Angebot,3099,control,kombi,2002,manuell,140,NaN,30000,5,NaN,volvo,nein,2016-03-15 00:00:00,0,23554,2016-03-21 09:46:27
49952,2016-03-21 21:45:33,VW_POLO__9N3_Silber_1_2_Ltr._5_tuerer__96_tsd....,privat,Angebot,4300,control,kleinwagen,2005,manuell,64,polo,100000,3,benzin,volkswagen,nein,2016-03-21 00:00:00,0,35418,2016-04-07 01:44:58
49953,2016-03-30 17:55:21,Ford_Mustang,privat,Angebot,14750,control,coupe,1967,automatik,163,mustang,125000,8,benzin,ford,nein,2016-03-30 00:00:00,0,84478,2016-03-30 17:55:21
49956,2016-03-28 22:39:12,Toyota_Yaris_1.3_VVT_i_Executive_MODEL_2007,privat,Angebot,4450,control,kleinwagen,2006,manuell,87,yaris,125000,9,benzin,toyota,nein,2016-03-28 00:00:00,0,44357,2016-03-30 15:45:26
49963,2016-03-26 19:52:59,Mercedes_Benz_B_200_CDI_Special_Edition,privat,Angebot,7600,control,bus,2007,manuell,140,b_klasse,125000,5,diesel,mercedes_benz,nein,2016-03-26 00:00:00,0,92272,2016-03-28 09:45:44
49965,2016-03-11 10:53:51,Opel_Astra_1.6_Lenkradheizung~Sitzheizung,privat,Angebot,6700,test,limousine,2011,manuell,116,astra,125000,3,benzin,opel,nein,2016-03-11 00:00:00,0,37627,2016-03-15 01:44:57
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,15800,control,bus,2010,automatik,136,c4,60000,4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,9700,control,kleinwagen,2012,automatik,88,jazz,100000,11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,11000,test,kleinwagen,2011,manuell,90,polo,70000,11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,400,control,kombi,1995,manuell,105,escort,125000,3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,1950,control,kleinwagen,2004,manuell,0,fabia,90000,7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,15900,control,limousine,2010,automatik,218,300c,125000,11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,21990,control,limousine,2013,manuell,150,a3,50000,11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,17500,test,limousine,2012,manuell,156,a_klasse,30000,12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,4800,control,kleinwagen,2009,manuell,120,andere,125000,9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07

In [21]:
autos_clean['odometer_km'].describe()

count     17157.000000
mean      81383.400361
std       37922.516746
min        5000.000000
25%       50000.000000
50%       90000.000000
75%      125000.000000
max      125000.000000
Name: odometer_km, dtype: float64

In [91]:
#finalzie to autos to the clean version 
autos = autos[autos["odometer_km"].between(0,149000)]
autos

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,5299,control,kleinwagen,2010,automatik,71,fortwo,50000,9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,18900,test,coupe,1982,automatik,203,NaN,80000,6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,25450,control,cabrio,2015,manuell,184,cooper,10000,1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,48500,control,limousine,2014,automatik,306,5er,30000,12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,777,control,kleinwagen,1992,manuell,54,polo,125000,2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
37,2016-03-23 16:47:46,Seat_Altea_XL_2.0_TDI_CR_DPF_Style,privat,Angebot,13800,test,bus,2012,manuell,140,altea,90000,2,diesel,seat,nein,2016-03-23 00:00:00,0,85113,2016-04-05 20:17:53
38,2016-03-21 15:51:10,Volkswagen_Golf_1.4_Special,privat,Angebot,2850,control,limousine,2002,manuell,75,golf,125000,2,benzin,volkswagen,nein,2016-03-21 00:00:00,0,63674,2016-03-28 12:16:06
42,2016-03-22 21:37:03,Vw_Polo_l.0_/60_PS_Blue_Motion_Technologie_Son...,privat,Angebot,11900,control,kleinwagen,2014,manuell,60,polo,20000,7,benzin,volkswagen,NaN,2016-03-22 00:00:00,0,26629,2016-04-06 18:44:39
43,2016-03-08 16:51:22,Audi_A1_1.2_TFSI_Attraction_mit_Garantie,privat,Angebot,11500,test,kleinwagen,2011,manuell,86,a1,60000,9,benzin,audi,nein,2016-03-08 00:00:00,0,85049,2016-04-07 03:16:05
49,2016-03-27 15:36:42,Mercedes_Benz_CL_500__BlueEFFICIENCY__7G_TRONIC,privat,Angebot,56000,control,coupe,2012,automatik,435,cl,60000,2,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,34474,2016-04-05 11:47:52
50,2016-03-09 16:48:05,??_????????_??Top!!!_Peugeot_308_sw_Sport_?...,privat,Angebot,5999,test,kombi,2008,manuell,150,3_reihe,125000,8,benzin,peugeot,nein,2016-03-09 00:00:00,0,55569,2016-04-07 06:17:09
52,2016-03-25 18:50:03,Senator_A_3.0E_Karosserie_restauriert_m._viele...,privat,Angebot,3500,test,limousine,1985,NaN,0,andere,5000,0,benzin,opel,nein,2016-03-25 00:00:00,0,63500,2016-04-07 00:46:00
53,2016-04-02 17:45:01,Dacia_Sandero_Stepway_II_MPI_85__top_gepflegt,privat,Angebot,9000,control,limousine,2012,manuell,84,sandero,30000,7,benzin,dacia,nein,2016-04-02 00:00:00,0,53639,2016-04-06 16:46:50
54,2016-03-15 19:51:34,Ford_Focus_1.8_Futura,privat,Angebot,2500,control,limousine,2004,manuell,116,focus,125000,9,benzin,ford,nein,2016-03-15 00:00:00,0,6886,2016-03-30 09:47:29
55,2016-03-07 02:47:54,Mercedes_E320_AMG_zu_Tauschen!,privat,Angebot,1,test,NaN,2017,automatik,224,e_klasse,125000,7,benzin,mercedes_benz,nein,2016-03-06 00:00:00,0,22111,2016-03-08 05:45:44
56,2016-03-18 20:49:55,Renault_Clio,privat,Angebot,650,test,kleinwagen,1997,manuell,58,clio,125000,7,benzin,renault,NaN,2016-03-18 00:00:00,0,59229,2016-03-31 06:15:57
58,2016-03-30 12:25:18,Volkswagen_Golf_1.4,privat,Angebot,4200,control,limousine,2004,manuell,75,golf,125000,11,benzin,volkswagen,nein,2016-03-30 00:00:00,0,56073,2016-04-01 08:29:34
62,2016-03-12 17:41:11,Volkswagen_Golf_Plus_1.6_FSI_Goal,privat,Angebot,6300,test,bus,2006,manuell,116,golf,125000,4,benzin,volkswagen,nein,2016-03-12 00:00:00,0,80939,2016-04-03 08:16:15
63,2016-03-14 22:51:19,MINI_Mini_Cooper_S___Xenon_Leder,privat,Angebot,13950,control,kleinwagen,2011,manuell,184,cooper,70000,6,benzin,mini,nein,2016-03-14 00:00:00,0,14532,2016-04-06 18:46:08
65,2016-04-04 19:30:39,Ford_Fiesta_zum_ausschlachten,privat,Angebot,250,control,NaN,2017,manuell,65,fiesta,125000,9,benzin,ford,NaN,2016-04-04 00:00:00,0,65606,2016-04-05 12:22:12
68,2016-04-03 17:36:59,Mini_cooper_s_clubman_/vollausstattung_/_Navi/...,privat,Angebot,10990,test,NaN,2017,manuell,174,clubman,100000,0,NaN,mini,nein,2016-04-03 00:00:00,0,83135,2016-04-05 17:26:26
69,2016-03-21 18:58:06,Dacia_Sandero_1.4_MPI__Basis,privat,Angebot,2500,test,kleinwagen,2009,manuell,75,sandero,90000,5,benzin,dacia,nein,2016-03-21 00:00:00,0,74388,2016-03-28 16:46:41
73,2016-03-18 23:41:21,VW_T3_Doka_1_7D_TÜV_07/2017,privat,Angebot,2700,test,bus,1986,manuell,57,transporter,125000,8,diesel,volkswagen,NaN,2016-03-18 00:00:00,0,82205,2016-04-05 23:16:13
76,2016-03-22 14:52:57,BMW_318i_neustes_Model_0Km,privat,Angebot,31999,control,limousine,2016,manuell,136,3er,5000,2,benzin,bmw,NaN,2016-03-22 00:00:00,0,45149,2016-04-06 05:15:42
85,2016-03-11 12:36:21,Toyota_yaris_cool,privat,Angebot,5000,test,kleinwagen,2009,manuell,0,yaris,60000,12,NaN,toyota,NaN,2016-03-11 00:00:00,0,30916,2016-04-07 08:17:01
86,2016-04-03 18:53:46,Mitsubishi_Colt_CAO_16_V_Malibu_20_Jahre_in_1....,privat,Angebot,399,control,coupe,1995,manuell,113,colt,125000,10,benzin,mitsubishi,ja,2016-04-03 00:00:00,0,58507,2016-04-03 18:53:46
89,2016-04-05 00:57:27,Audi_A6_2.4,privat,Angebot,7900,control,limousine,2005,automatik,177,a6,125000,1,benzin,audi,nein,2016-04-05 00:00:00,0,92660,2016-04-07 08:46:52
90,2016-03-07 13:50:22,Audi_A3_2.0_TDI_Cabrio_S_tronic__clean_diesel_...,privat,Angebot,34900,control,cabrio,2014,automatik,150,a3,20000,5,diesel,audi,nein,2016-03-07 00:00:00,0,32052,2016-03-24 03:47:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49918,2016-04-03 13:46:18,Peugeot_206_cc_1_6_16V_Coupe_Cabrio__schwarz_L...,privat,Angebot,5050,control,cabrio,2007,manuell,109,2_reihe,100000,2,benzin,peugeot,nein,2016-04-03 00:00:00,0,79238,2016-04-05 12:44:32
49921,2016-03-05 14:29:00,Smart_ForTwo_Cabrio_Schwarz_HU+AU_bis_Oktober_...,privat,Angebot,2350,test,cabrio,2000,automatik,54,fortwo,100000,4,benzin,smart,NaN,2016-02-16 00:00:00,0,55411,2016-04-05 12:30:49
49923,2016-03-05 15:41:51,Toyota_Yaris_1.0_VVT_i,privat,Angebot,4500,control,kleinwagen,2009,manuell,69,yaris,125000,1,benzin,toyota,nein,2016-03-05 00:00:00,0,32676,2016-04-07 05:45:26
49924,2016-03-21 14:43:15,Seat_Ibiza_1.Hand__Scheckheft,privat,Angebot,3400,control,kleinwagen,2008,manuell,60,ibiza,125000,5,benzin,seat,nein,2016-03-21 00:00:00,0,44357,2016-03-24 03:15:28
49929,2016-03-27 13:58:31,Opel_Corsa_Swing,privat,Angebot,1390,test,kleinwagen,1993,manuell,60,corsa,125000,11,benzin,opel,nein,2016-03-27 00:00:00,0,40229,2016-04-07 09:46:31
49931,2016-03-22 16:54:39,LANCIA_luxusausstattung_limosine_1.8_fuer_export,privat,Angebot,799,test,limousine,2003,manuell,131,lybra,100000,2,benzin,lancia,ja,2016-03-22 00:00:00,0,80807,2016-04-06 08:17:09
49933,2016-04-03 23:55:34,Volkswagen_New_Beetle_1.9_TDI,privat,Angebot,5500,control,limousine,2001,manuell,90,beetle,125000,1,diesel,volkswagen,nein,2016-04-03 00:00:00,0,41352,2016-04-06 08:16:28
49934,2016-03-11 19:44:33,Mazda_MX_5_1.6i_16V_Rostfrei__Top_Zustand,privat,Angebot,4999,test,cabrio,1999,manuell,110,mx_reihe,80000,6,benzin,mazda,nein,2016-03-11 00:00:00,0,52224,2016-04-06 00:16:54
49939,2016-03-13 15:43:19,Audi_TT_Roadster_2.0_TFSI,privat,Angebot,16995,test,cabrio,2007,manuell,200,tt,80000,3,benzin,audi,nein,2016-03-13 00:00:00,0,94522,2016-04-06 17:16:35
49941,2016-03-15 00:53:25,Maserati_Ghibli_Diesel_Automatik,privat,Angebot,62000,test,limousine,2015,automatik,275,NaN,10000,8,diesel,sonstige_autos,nein,2016-03-14 00:00:00,0,10179,2016-03-30 23:17:48
49942,2016-03-09 19:43:33,Audi_A3_2.0_TDI_Sportback_DPF_Ambition,privat,Angebot,10000,test,kombi,2007,manuell,140,a3,125000,10,diesel,audi,nein,2016-03-09 00:00:00,0,66663,2016-04-05 13:15:31
49948,2016-03-22 16:44:57,Hyundai_ix35_2.0_CRDi_4WD_Automatik,privat,Angebot,19900,test,suv,2013,automatik,184,i_reihe,70000,5,diesel,hyundai,nein,2016-03-22 00:00:00,0,96515,2016-04-06 06:45:11
49950,2016-03-15 13:45:36,Volvo_V70_2_II__2002__AHK__Klima__Volleder,privat,Angebot,3099,control,kombi,2002,manuell,140,NaN,30000,5,NaN,volvo,nein,2016-03-15 00:00:00,0,23554,2016-03-21 09:46:27
49952,2016-03-21 21:45:33,VW_POLO__9N3_Silber_1_2_Ltr._5_tuerer__96_tsd....,privat,Angebot,4300,control,kleinwagen,2005,manuell,64,polo,100000,3,benzin,volkswagen,nein,2016-03-21 00:00:00,0,35418,2016-04-07 01:44:58
49953,2016-03-30 17:55:21,Ford_Mustang,privat,Angebot,14750,control,coupe,1967,automatik,163,mustang,125000,8,benzin,ford,nein,2016-03-30 00:00:00,0,84478,2016-03-30 17:55:21
49956,2016-03-28 22:39:12,Toyota_Yaris_1.3_VVT_i_Executive_MODEL_2007,privat,Angebot,4450,control,kleinwagen,2006,manuell,87,yaris,125000,9,benzin,toyota,nein,2016-03-28 00:00:00,0,44357,2016-03-30 15:45:26
49963,2016-03-26 19:52:59,Mercedes_Benz_B_200_CDI_Special_Edition,privat,Angebot,7600,control,bus,2007,manuell,140,b_klasse,125000,5,diesel,mercedes_benz,nein,2016-03-26 00:00:00,0,92272,2016-03-28 09:45:44
49965,2016-03-11 10:53:51,Opel_Astra_1.6_Lenkradheizung~Sitzheizung,privat,Angebot,6700,test,limousine,2011,manuell,116,astra,125000,3,benzin,opel,nein,2016-03-11 00:00:00,0,37627,2016-03-15 01:44:57
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,15800,control,bus,2010,automatik,136,c4,60000,4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,9700,control,kleinwagen,2012,automatik,88,jazz,100000,11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,11000,test,kleinwagen,2011,manuell,90,polo,70000,11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,400,control,kombi,1995,manuell,105,escort,125000,3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,1950,control,kleinwagen,2004,manuell,0,fabia,90000,7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,15900,control,limousine,2010,automatik,218,300c,125000,11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,21990,control,limousine,2013,manuell,150,a3,50000,11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,17500,test,limousine,2012,manuell,156,a_klasse,30000,12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,4800,control,kleinwagen,2009,manuell,120,andere,125000,9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07

In [22]:
#these threee columns were collected by the web crawler and have
#numeric based data stored as text and are timestamped
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [92]:
#select the first 10 characters of the date crawled column rows
print(autos['date_crawled'].str[:10])

2        2016-03-26
3        2016-03-12
12       2016-03-31
15       2016-04-01
22       2016-03-28
24       2016-04-03
26       2016-04-03
37       2016-03-23
38       2016-03-21
42       2016-03-22
43       2016-03-08
49       2016-03-27
50       2016-03-09
52       2016-03-25
53       2016-04-02
54       2016-03-15
55       2016-03-07
56       2016-03-18
58       2016-03-30
62       2016-03-12
63       2016-03-14
65       2016-04-04
68       2016-04-03
69       2016-03-21
73       2016-03-18
76       2016-03-22
85       2016-03-11
86       2016-04-03
89       2016-04-05
90       2016-03-07
            ...
49918    2016-04-03
49921    2016-03-05
49923    2016-03-05
49924    2016-03-21
49929    2016-03-27
49931    2016-03-22
49933    2016-04-03
49934    2016-03-11
49939    2016-03-13
49941    2016-03-15
49942    2016-03-09
49948    2016-03-22
49950    2016-03-15
49952    2016-03-21
49953    2016-03-30
49956    2016-03-28
49963    2016-03-26
49965    2016-03-11
49970    2016-03-21
49975    2016-03-27
49979    2016-03-20
49980    2016-03-12
49982    2016-03-29
49986    2016-04-04
49987    2016-03-22
49990    2016-03-21
49992    2016-03-10
49995    2016-03-27
49997    2016-04-02
49998    2016-03-08
Name: date_crawled, Length: 17157, dtype: object

In [29]:
autos['date_crawled'].str[:10].value_counts(ascending=False) #sort by index

2016-04-03    698
2016-03-19    664
2016-03-20    656
2016-03-12    655
2016-03-14    629
2016-04-02    625
2016-03-29    618
2016-04-01    614
2016-03-21    606
2016-03-28    605
2016-03-07    591
2016-04-04    577
2016-03-30    572
2016-03-11    569
2016-03-22    560
2016-03-10    560
2016-03-26    559
2016-03-15    555
2016-03-31    547
2016-03-27    545
2016-03-09    536
2016-03-25    533
2016-03-08    532
2016-03-23    522
2016-03-17    516
2016-03-24    514
2016-03-16    501
2016-03-05    479
2016-03-13    284
2016-03-06    231
2016-03-18    226
2016-04-05    208
2016-04-06     39
2016-04-07     31
Name: date_crawled, dtype: int64

In [93]:
autos['date_crawled'].str[:10].value_counts(normalize=True,ascending=False, dropna=False)
#normalize to make counts percentages, include missing values with dropna

2016-04-03    0.040683
2016-03-19    0.038701
2016-03-20    0.038235
2016-03-12    0.038177
2016-03-14    0.036661
2016-04-02    0.036428
2016-03-29    0.036020
2016-04-01    0.035787
2016-03-21    0.035321
2016-03-28    0.035263
2016-03-07    0.034447
2016-04-04    0.033631
2016-03-30    0.033339
2016-03-11    0.033164
2016-03-22    0.032640
2016-03-10    0.032640
2016-03-26    0.032581
2016-03-15    0.032348
2016-03-31    0.031882
2016-03-27    0.031765
2016-03-09    0.031241
2016-03-25    0.031066
2016-03-08    0.031008
2016-03-23    0.030425
2016-03-17    0.030075
2016-03-24    0.029959
2016-03-16    0.029201
2016-03-05    0.027919
2016-03-13    0.016553
2016-03-06    0.013464
2016-03-18    0.013172
2016-04-05    0.012123
2016-04-06    0.002273
2016-04-07    0.001807
Name: date_crawled, dtype: float64

In [40]:
autos['date_crawled'].str[:10].value_counts(normalize=True,ascending=False, dropna=False).sort_index()

2016-03-05    0.027919
2016-03-06    0.013464
2016-03-07    0.034447
2016-03-08    0.031008
2016-03-09    0.031241
2016-03-10    0.032640
2016-03-11    0.033164
2016-03-12    0.038177
2016-03-13    0.016553
2016-03-14    0.036661
2016-03-15    0.032348
2016-03-16    0.029201
2016-03-17    0.030075
2016-03-18    0.013172
2016-03-19    0.038701
2016-03-20    0.038235
2016-03-21    0.035321
2016-03-22    0.032640
2016-03-23    0.030425
2016-03-24    0.029959
2016-03-25    0.031066
2016-03-26    0.032581
2016-03-27    0.031765
2016-03-28    0.035263
2016-03-29    0.036020
2016-03-30    0.033339
2016-03-31    0.031882
2016-04-01    0.035787
2016-04-02    0.036428
2016-04-03    0.040683
2016-04-04    0.033631
2016-04-05    0.012123
2016-04-06    0.002273
2016-04-07    0.001807
Name: date_crawled, dtype: float64

looks pretty evenly distributed among the values as days none exceeding more than 4%. sort index has moved the days into chronological order with the latest having the smallest frequency.

In [94]:
autos['ad_created'].str[:10].value_counts()

2016-04-03    700
2016-03-20    659
2016-03-12    652
2016-03-19    636
2016-04-02    620
2016-03-21    617
2016-03-29    616
2016-04-01    611
2016-03-14    608
2016-03-28    607
2016-04-04    575
2016-03-26    571
2016-03-11    571
2016-03-30    569
2016-03-07    568
2016-03-15    555
2016-03-31    550
2016-03-10    550
2016-03-09    548
2016-03-22    546
2016-03-27    541
2016-03-08    529
2016-03-25    528
2016-03-23    520
2016-03-24    515
2016-03-16    510
2016-03-17    509
2016-03-05    427
2016-03-13    306
2016-03-06    251
             ...
2016-03-03     13
2016-02-28      6
2016-02-23      4
2016-02-29      4
2016-02-25      3
2016-03-02      3
2016-02-27      2
2016-01-27      2
2016-02-19      2
2016-02-21      2
2016-02-05      1
2016-02-09      1
2016-02-20      1
2016-02-07      1
2016-01-03      1
2016-03-01      1
2016-02-24      1
2016-01-22      1
2015-06-11      1
2015-12-30      1
2015-08-10      1
2016-02-16      1
2016-02-26      1
2016-02-14      1
2016-01-10      1
2016-02-18      1
2015-09-09      1
2016-02-17      1
2015-11-10      1
2016-02-01      1
Name: ad_created, Length: 65, dtype: int64

In [49]:
autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2015-06-11    0.000058
2015-08-10    0.000058
2015-09-09    0.000058
2015-11-10    0.000058
2015-12-30    0.000058
2016-01-03    0.000058
2016-01-10    0.000058
2016-01-22    0.000058
2016-01-27    0.000117
2016-02-01    0.000058
2016-02-05    0.000058
2016-02-07    0.000058
2016-02-09    0.000058
2016-02-14    0.000058
2016-02-16    0.000058
2016-02-17    0.000058
2016-02-18    0.000058
2016-02-19    0.000117
2016-02-20    0.000058
2016-02-21    0.000117
2016-02-23    0.000233
2016-02-24    0.000058
2016-02-25    0.000175
2016-02-26    0.000058
2016-02-27    0.000117
2016-02-28    0.000350
2016-02-29    0.000233
2016-03-01    0.000058
2016-03-02    0.000175
2016-03-03    0.000758
                ...
2016-03-09    0.031940
2016-03-10    0.032057
2016-03-11    0.033281
2016-03-12    0.038002
2016-03-13    0.017835
2016-03-14    0.035437
2016-03-15    0.032348
2016-03-16    0.029725
2016-03-17    0.029667
2016-03-18    0.013872
2016-03-19    0.037069
2016-03-20    0.038410
2016-03-21    0.035962
2016-03-22    0.031824
2016-03-23    0.030308
2016-03-24    0.030017
2016-03-25    0.030775
2016-03-26    0.033281
2016-03-27    0.031532
2016-03-28    0.035379
2016-03-29    0.035904
2016-03-30    0.033164
2016-03-31    0.032057
2016-04-01    0.035612
2016-04-02    0.036137
2016-04-03    0.040800
2016-04-04    0.033514
2016-04-05    0.011424
2016-04-06    0.002448
2016-04-07    0.001632
Name: ad_created, Length: 65, dtype: float64

values look even more spread amongst the values of ads created on each respective day

In [95]:
autos['last_seen'].str[:10]

2        2016-04-06
3        2016-03-15
12       2016-04-06
15       2016-04-02
22       2016-04-01
24       2016-04-07
26       2016-04-05
37       2016-04-05
38       2016-03-28
42       2016-04-06
43       2016-04-07
49       2016-04-05
50       2016-04-07
52       2016-04-07
53       2016-04-06
54       2016-03-30
55       2016-03-08
56       2016-03-31
58       2016-04-01
62       2016-04-03
63       2016-04-06
65       2016-04-05
68       2016-04-05
69       2016-03-28
73       2016-04-05
76       2016-04-06
85       2016-04-07
86       2016-04-03
89       2016-04-07
90       2016-03-24
            ...
49918    2016-04-05
49921    2016-04-05
49923    2016-04-07
49924    2016-03-24
49929    2016-04-07
49931    2016-04-06
49933    2016-04-06
49934    2016-04-06
49939    2016-04-06
49941    2016-03-30
49942    2016-04-05
49948    2016-04-06
49950    2016-03-21
49952    2016-04-07
49953    2016-03-30
49956    2016-03-30
49963    2016-03-28
49965    2016-03-15
49970    2016-04-07
49975    2016-04-05
49979    2016-04-07
49980    2016-04-06
49982    2016-03-29
49986    2016-04-06
49987    2016-03-26
49990    2016-04-06
49992    2016-03-13
49995    2016-04-01
49997    2016-04-04
49998    2016-04-05
Name: last_seen, Length: 17157, dtype: object

In [54]:
autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False)

2016-04-06    0.247887
2016-04-07    0.150667
2016-04-05    0.138602
2016-04-02    0.024072
2016-04-03    0.023897
2016-03-17    0.023722
2016-03-30    0.022848
2016-04-04    0.021915
2016-03-12    0.021799
2016-03-31    0.021740
2016-04-01    0.021740
2016-03-29    0.021682
2016-03-22    0.019118
2016-03-28    0.018651
2016-03-20    0.018068
2016-03-21    0.017835
2016-03-25    0.017369
2016-03-24    0.017078
2016-03-23    0.016728
2016-03-26    0.014921
2016-03-15    0.014630
2016-03-27    0.013930
2016-03-19    0.013580
2016-03-16    0.013347
2016-03-14    0.010258
2016-03-11    0.009559
2016-03-10    0.009384
2016-03-09    0.007344
2016-03-18    0.007286
2016-03-13    0.006936
2016-03-08    0.004838
2016-03-07    0.004080
2016-03-06    0.003497
2016-03-05    0.000991
Name: last_seen, dtype: float64

In [96]:
autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.000991
2016-03-06    0.003497
2016-03-07    0.004080
2016-03-08    0.004838
2016-03-09    0.007344
2016-03-10    0.009384
2016-03-11    0.009559
2016-03-12    0.021799
2016-03-13    0.006936
2016-03-14    0.010258
2016-03-15    0.014630
2016-03-16    0.013347
2016-03-17    0.023722
2016-03-18    0.007286
2016-03-19    0.013580
2016-03-20    0.018068
2016-03-21    0.017835
2016-03-22    0.019118
2016-03-23    0.016728
2016-03-24    0.017078
2016-03-25    0.017369
2016-03-26    0.014921
2016-03-27    0.013930
2016-03-28    0.018651
2016-03-29    0.021682
2016-03-30    0.022848
2016-03-31    0.021740
2016-04-01    0.021740
2016-04-02    0.024072
2016-04-03    0.023897
2016-04-04    0.021915
2016-04-05    0.138602
2016-04-06    0.247887
2016-04-07    0.150667
Name: last_seen, dtype: float64

value frequencies look noticeably more concentrated towards the most recent or latest days for last seen.

In [97]:
autos['registration_year'].describe()

count    17157.000000
mean      2009.426998
std        148.765979
min       1000.000000
25%       2002.000000
50%       2008.000000
75%       2011.000000
max       9999.000000
Name: registration_year, dtype: float64

In [98]:
autos['registration_year'].value_counts().sort_index(ascending=False)

9999       3
9000       1
8888       1
6200       1
5911       1
5000       4
4800       1
4500       1
4100       1
2800       1
2019       1
2018     146
2017     388
2016     293
2015     389
2014     660
2013     758
2012    1176
2011    1313
2010    1165
2009    1387
2008    1151
2007     923
2006     934
2005     844
2004     656
2003     633
2002     540
2001     507
2000     549
        ...
1965      13
1964      12
1963       3
1962       3
1961       4
1960      19
1959       4
1958       3
1957       2
1956       4
1955       2
1954       2
1952       1
1951       2
1950       3
1948       1
1943       1
1941       2
1939       1
1938       1
1937       3
1934       2
1931       1
1929       1
1927       1
1910       4
1800       2
1111       1
1001       1
1000       1
Name: registration_year, Length: 94, dtype: int64

definitely need to get rid of the values higher than the current year and vehicles over 1000 years old. the describe method also showed the mean=2009 and the 50%/+.

In [100]:
autos = autos[autos['registration_year'].between(1112,2019)]
autos

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,5299,control,kleinwagen,2010,automatik,71,fortwo,50000,9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,18900,test,coupe,1982,automatik,203,NaN,80000,6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,25450,control,cabrio,2015,manuell,184,cooper,10000,1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,48500,control,limousine,2014,automatik,306,5er,30000,12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,777,control,kleinwagen,1992,manuell,54,polo,125000,2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
37,2016-03-23 16:47:46,Seat_Altea_XL_2.0_TDI_CR_DPF_Style,privat,Angebot,13800,test,bus,2012,manuell,140,altea,90000,2,diesel,seat,nein,2016-03-23 00:00:00,0,85113,2016-04-05 20:17:53
38,2016-03-21 15:51:10,Volkswagen_Golf_1.4_Special,privat,Angebot,2850,control,limousine,2002,manuell,75,golf,125000,2,benzin,volkswagen,nein,2016-03-21 00:00:00,0,63674,2016-03-28 12:16:06
42,2016-03-22 21:37:03,Vw_Polo_l.0_/60_PS_Blue_Motion_Technologie_Son...,privat,Angebot,11900,control,kleinwagen,2014,manuell,60,polo,20000,7,benzin,volkswagen,NaN,2016-03-22 00:00:00,0,26629,2016-04-06 18:44:39
43,2016-03-08 16:51:22,Audi_A1_1.2_TFSI_Attraction_mit_Garantie,privat,Angebot,11500,test,kleinwagen,2011,manuell,86,a1,60000,9,benzin,audi,nein,2016-03-08 00:00:00,0,85049,2016-04-07 03:16:05
49,2016-03-27 15:36:42,Mercedes_Benz_CL_500__BlueEFFICIENCY__7G_TRONIC,privat,Angebot,56000,control,coupe,2012,automatik,435,cl,60000,2,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,34474,2016-04-05 11:47:52
50,2016-03-09 16:48:05,??_????????_??Top!!!_Peugeot_308_sw_Sport_?...,privat,Angebot,5999,test,kombi,2008,manuell,150,3_reihe,125000,8,benzin,peugeot,nein,2016-03-09 00:00:00,0,55569,2016-04-07 06:17:09
52,2016-03-25 18:50:03,Senator_A_3.0E_Karosserie_restauriert_m._viele...,privat,Angebot,3500,test,limousine,1985,NaN,0,andere,5000,0,benzin,opel,nein,2016-03-25 00:00:00,0,63500,2016-04-07 00:46:00
53,2016-04-02 17:45:01,Dacia_Sandero_Stepway_II_MPI_85__top_gepflegt,privat,Angebot,9000,control,limousine,2012,manuell,84,sandero,30000,7,benzin,dacia,nein,2016-04-02 00:00:00,0,53639,2016-04-06 16:46:50
54,2016-03-15 19:51:34,Ford_Focus_1.8_Futura,privat,Angebot,2500,control,limousine,2004,manuell,116,focus,125000,9,benzin,ford,nein,2016-03-15 00:00:00,0,6886,2016-03-30 09:47:29
55,2016-03-07 02:47:54,Mercedes_E320_AMG_zu_Tauschen!,privat,Angebot,1,test,NaN,2017,automatik,224,e_klasse,125000,7,benzin,mercedes_benz,nein,2016-03-06 00:00:00,0,22111,2016-03-08 05:45:44
56,2016-03-18 20:49:55,Renault_Clio,privat,Angebot,650,test,kleinwagen,1997,manuell,58,clio,125000,7,benzin,renault,NaN,2016-03-18 00:00:00,0,59229,2016-03-31 06:15:57
58,2016-03-30 12:25:18,Volkswagen_Golf_1.4,privat,Angebot,4200,control,limousine,2004,manuell,75,golf,125000,11,benzin,volkswagen,nein,2016-03-30 00:00:00,0,56073,2016-04-01 08:29:34
62,2016-03-12 17:41:11,Volkswagen_Golf_Plus_1.6_FSI_Goal,privat,Angebot,6300,test,bus,2006,manuell,116,golf,125000,4,benzin,volkswagen,nein,2016-03-12 00:00:00,0,80939,2016-04-03 08:16:15
63,2016-03-14 22:51:19,MINI_Mini_Cooper_S___Xenon_Leder,privat,Angebot,13950,control,kleinwagen,2011,manuell,184,cooper,70000,6,benzin,mini,nein,2016-03-14 00:00:00,0,14532,2016-04-06 18:46:08
65,2016-04-04 19:30:39,Ford_Fiesta_zum_ausschlachten,privat,Angebot,250,control,NaN,2017,manuell,65,fiesta,125000,9,benzin,ford,NaN,2016-04-04 00:00:00,0,65606,2016-04-05 12:22:12
68,2016-04-03 17:36:59,Mini_cooper_s_clubman_/vollausstattung_/_Navi/...,privat,Angebot,10990,test,NaN,2017,manuell,174,clubman,100000,0,NaN,mini,nein,2016-04-03 00:00:00,0,83135,2016-04-05 17:26:26
69,2016-03-21 18:58:06,Dacia_Sandero_1.4_MPI__Basis,privat,Angebot,2500,test,kleinwagen,2009,manuell,75,sandero,90000,5,benzin,dacia,nein,2016-03-21 00:00:00,0,74388,2016-03-28 16:46:41
73,2016-03-18 23:41:21,VW_T3_Doka_1_7D_TÜV_07/2017,privat,Angebot,2700,test,bus,1986,manuell,57,transporter,125000,8,diesel,volkswagen,NaN,2016-03-18 00:00:00,0,82205,2016-04-05 23:16:13
76,2016-03-22 14:52:57,BMW_318i_neustes_Model_0Km,privat,Angebot,31999,control,limousine,2016,manuell,136,3er,5000,2,benzin,bmw,NaN,2016-03-22 00:00:00,0,45149,2016-04-06 05:15:42
85,2016-03-11 12:36:21,Toyota_yaris_cool,privat,Angebot,5000,test,kleinwagen,2009,manuell,0,yaris,60000,12,NaN,toyota,NaN,2016-03-11 00:00:00,0,30916,2016-04-07 08:17:01
86,2016-04-03 18:53:46,Mitsubishi_Colt_CAO_16_V_Malibu_20_Jahre_in_1....,privat,Angebot,399,control,coupe,1995,manuell,113,colt,125000,10,benzin,mitsubishi,ja,2016-04-03 00:00:00,0,58507,2016-04-03 18:53:46
89,2016-04-05 00:57:27,Audi_A6_2.4,privat,Angebot,7900,control,limousine,2005,automatik,177,a6,125000,1,benzin,audi,nein,2016-04-05 00:00:00,0,92660,2016-04-07 08:46:52
90,2016-03-07 13:50:22,Audi_A3_2.0_TDI_Cabrio_S_tronic__clean_diesel_...,privat,Angebot,34900,control,cabrio,2014,automatik,150,a3,20000,5,diesel,audi,nein,2016-03-07 00:00:00,0,32052,2016-03-24 03:47:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49918,2016-04-03 13:46:18,Peugeot_206_cc_1_6_16V_Coupe_Cabrio__schwarz_L...,privat,Angebot,5050,control,cabrio,2007,manuell,109,2_reihe,100000,2,benzin,peugeot,nein,2016-04-03 00:00:00,0,79238,2016-04-05 12:44:32
49921,2016-03-05 14:29:00,Smart_ForTwo_Cabrio_Schwarz_HU+AU_bis_Oktober_...,privat,Angebot,2350,test,cabrio,2000,automatik,54,fortwo,100000,4,benzin,smart,NaN,2016-02-16 00:00:00,0,55411,2016-04-05 12:30:49
49923,2016-03-05 15:41:51,Toyota_Yaris_1.0_VVT_i,privat,Angebot,4500,control,kleinwagen,2009,manuell,69,yaris,125000,1,benzin,toyota,nein,2016-03-05 00:00:00,0,32676,2016-04-07 05:45:26
49924,2016-03-21 14:43:15,Seat_Ibiza_1.Hand__Scheckheft,privat,Angebot,3400,control,kleinwagen,2008,manuell,60,ibiza,125000,5,benzin,seat,nein,2016-03-21 00:00:00,0,44357,2016-03-24 03:15:28
49929,2016-03-27 13:58:31,Opel_Corsa_Swing,privat,Angebot,1390,test,kleinwagen,1993,manuell,60,corsa,125000,11,benzin,opel,nein,2016-03-27 00:00:00,0,40229,2016-04-07 09:46:31
49931,2016-03-22 16:54:39,LANCIA_luxusausstattung_limosine_1.8_fuer_export,privat,Angebot,799,test,limousine,2003,manuell,131,lybra,100000,2,benzin,lancia,ja,2016-03-22 00:00:00,0,80807,2016-04-06 08:17:09
49933,2016-04-03 23:55:34,Volkswagen_New_Beetle_1.9_TDI,privat,Angebot,5500,control,limousine,2001,manuell,90,beetle,125000,1,diesel,volkswagen,nein,2016-04-03 00:00:00,0,41352,2016-04-06 08:16:28
49934,2016-03-11 19:44:33,Mazda_MX_5_1.6i_16V_Rostfrei__Top_Zustand,privat,Angebot,4999,test,cabrio,1999,manuell,110,mx_reihe,80000,6,benzin,mazda,nein,2016-03-11 00:00:00,0,52224,2016-04-06 00:16:54
49939,2016-03-13 15:43:19,Audi_TT_Roadster_2.0_TFSI,privat,Angebot,16995,test,cabrio,2007,manuell,200,tt,80000,3,benzin,audi,nein,2016-03-13 00:00:00,0,94522,2016-04-06 17:16:35
49941,2016-03-15 00:53:25,Maserati_Ghibli_Diesel_Automatik,privat,Angebot,62000,test,limousine,2015,automatik,275,NaN,10000,8,diesel,sonstige_autos,nein,2016-03-14 00:00:00,0,10179,2016-03-30 23:17:48
49942,2016-03-09 19:43:33,Audi_A3_2.0_TDI_Sportback_DPF_Ambition,privat,Angebot,10000,test,kombi,2007,manuell,140,a3,125000,10,diesel,audi,nein,2016-03-09 00:00:00,0,66663,2016-04-05 13:15:31
49948,2016-03-22 16:44:57,Hyundai_ix35_2.0_CRDi_4WD_Automatik,privat,Angebot,19900,test,suv,2013,automatik,184,i_reihe,70000,5,diesel,hyundai,nein,2016-03-22 00:00:00,0,96515,2016-04-06 06:45:11
49950,2016-03-15 13:45:36,Volvo_V70_2_II__2002__AHK__Klima__Volleder,privat,Angebot,3099,control,kombi,2002,manuell,140,NaN,30000,5,NaN,volvo,nein,2016-03-15 00:00:00,0,23554,2016-03-21 09:46:27
49952,2016-03-21 21:45:33,VW_POLO__9N3_Silber_1_2_Ltr._5_tuerer__96_tsd....,privat,Angebot,4300,control,kleinwagen,2005,manuell,64,polo,100000,3,benzin,volkswagen,nein,2016-03-21 00:00:00,0,35418,2016-04-07 01:44:58
49953,2016-03-30 17:55:21,Ford_Mustang,privat,Angebot,14750,control,coupe,1967,automatik,163,mustang,125000,8,benzin,ford,nein,2016-03-30 00:00:00,0,84478,2016-03-30 17:55:21
49956,2016-03-28 22:39:12,Toyota_Yaris_1.3_VVT_i_Executive_MODEL_2007,privat,Angebot,4450,control,kleinwagen,2006,manuell,87,yaris,125000,9,benzin,toyota,nein,2016-03-28 00:00:00,0,44357,2016-03-30 15:45:26
49963,2016-03-26 19:52:59,Mercedes_Benz_B_200_CDI_Special_Edition,privat,Angebot,7600,control,bus,2007,manuell,140,b_klasse,125000,5,diesel,mercedes_benz,nein,2016-03-26 00:00:00,0,92272,2016-03-28 09:45:44
49965,2016-03-11 10:53:51,Opel_Astra_1.6_Lenkradheizung~Sitzheizung,privat,Angebot,6700,test,limousine,2011,manuell,116,astra,125000,3,benzin,opel,nein,2016-03-11 00:00:00,0,37627,2016-03-15 01:44:57
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,15800,control,bus,2010,automatik,136,c4,60000,4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,9700,control,kleinwagen,2012,automatik,88,jazz,100000,11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,11000,test,kleinwagen,2011,manuell,90,polo,70000,11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,400,control,kombi,1995,manuell,105,escort,125000,3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,1950,control,kleinwagen,2004,manuell,0,fabia,90000,7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,15900,control,limousine,2010,automatik,218,300c,125000,11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,21990,control,limousine,2013,manuell,150,a3,50000,11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,17500,test,limousine,2012,manuell,156,a_klasse,30000,12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,4800,control,kleinwagen,2009,manuell,120,andere,125000,9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07

In [101]:
autos['registration_year'].describe()

count    17139.000000
mean      2005.743101
std          8.984796
min       1800.000000
25%       2002.000000
50%       2008.000000
75%       2011.000000
max       2019.000000
Name: registration_year, dtype: float64

mean has dropped a lot.

It turns out any vehicle registered after 2016 is defnitely innacurate. Let it be between 1900 and 2016.

In [102]:
autos = autos[autos['registration_year'].between(1900,2016)]
autos

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,5299,control,kleinwagen,2010,automatik,71,fortwo,50000,9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,18900,test,coupe,1982,automatik,203,NaN,80000,6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,25450,control,cabrio,2015,manuell,184,cooper,10000,1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,48500,control,limousine,2014,automatik,306,5er,30000,12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,777,control,kleinwagen,1992,manuell,54,polo,125000,2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
37,2016-03-23 16:47:46,Seat_Altea_XL_2.0_TDI_CR_DPF_Style,privat,Angebot,13800,test,bus,2012,manuell,140,altea,90000,2,diesel,seat,nein,2016-03-23 00:00:00,0,85113,2016-04-05 20:17:53
38,2016-03-21 15:51:10,Volkswagen_Golf_1.4_Special,privat,Angebot,2850,control,limousine,2002,manuell,75,golf,125000,2,benzin,volkswagen,nein,2016-03-21 00:00:00,0,63674,2016-03-28 12:16:06
42,2016-03-22 21:37:03,Vw_Polo_l.0_/60_PS_Blue_Motion_Technologie_Son...,privat,Angebot,11900,control,kleinwagen,2014,manuell,60,polo,20000,7,benzin,volkswagen,NaN,2016-03-22 00:00:00,0,26629,2016-04-06 18:44:39
43,2016-03-08 16:51:22,Audi_A1_1.2_TFSI_Attraction_mit_Garantie,privat,Angebot,11500,test,kleinwagen,2011,manuell,86,a1,60000,9,benzin,audi,nein,2016-03-08 00:00:00,0,85049,2016-04-07 03:16:05
49,2016-03-27 15:36:42,Mercedes_Benz_CL_500__BlueEFFICIENCY__7G_TRONIC,privat,Angebot,56000,control,coupe,2012,automatik,435,cl,60000,2,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,34474,2016-04-05 11:47:52
50,2016-03-09 16:48:05,??_????????_??Top!!!_Peugeot_308_sw_Sport_?...,privat,Angebot,5999,test,kombi,2008,manuell,150,3_reihe,125000,8,benzin,peugeot,nein,2016-03-09 00:00:00,0,55569,2016-04-07 06:17:09
52,2016-03-25 18:50:03,Senator_A_3.0E_Karosserie_restauriert_m._viele...,privat,Angebot,3500,test,limousine,1985,NaN,0,andere,5000,0,benzin,opel,nein,2016-03-25 00:00:00,0,63500,2016-04-07 00:46:00
53,2016-04-02 17:45:01,Dacia_Sandero_Stepway_II_MPI_85__top_gepflegt,privat,Angebot,9000,control,limousine,2012,manuell,84,sandero,30000,7,benzin,dacia,nein,2016-04-02 00:00:00,0,53639,2016-04-06 16:46:50
54,2016-03-15 19:51:34,Ford_Focus_1.8_Futura,privat,Angebot,2500,control,limousine,2004,manuell,116,focus,125000,9,benzin,ford,nein,2016-03-15 00:00:00,0,6886,2016-03-30 09:47:29
56,2016-03-18 20:49:55,Renault_Clio,privat,Angebot,650,test,kleinwagen,1997,manuell,58,clio,125000,7,benzin,renault,NaN,2016-03-18 00:00:00,0,59229,2016-03-31 06:15:57
58,2016-03-30 12:25:18,Volkswagen_Golf_1.4,privat,Angebot,4200,control,limousine,2004,manuell,75,golf,125000,11,benzin,volkswagen,nein,2016-03-30 00:00:00,0,56073,2016-04-01 08:29:34
62,2016-03-12 17:41:11,Volkswagen_Golf_Plus_1.6_FSI_Goal,privat,Angebot,6300,test,bus,2006,manuell,116,golf,125000,4,benzin,volkswagen,nein,2016-03-12 00:00:00,0,80939,2016-04-03 08:16:15
63,2016-03-14 22:51:19,MINI_Mini_Cooper_S___Xenon_Leder,privat,Angebot,13950,control,kleinwagen,2011,manuell,184,cooper,70000,6,benzin,mini,nein,2016-03-14 00:00:00,0,14532,2016-04-06 18:46:08
69,2016-03-21 18:58:06,Dacia_Sandero_1.4_MPI__Basis,privat,Angebot,2500,test,kleinwagen,2009,manuell,75,sandero,90000,5,benzin,dacia,nein,2016-03-21 00:00:00,0,74388,2016-03-28 16:46:41
73,2016-03-18 23:41:21,VW_T3_Doka_1_7D_TÜV_07/2017,privat,Angebot,2700,test,bus,1986,manuell,57,transporter,125000,8,diesel,volkswagen,NaN,2016-03-18 00:00:00,0,82205,2016-04-05 23:16:13
76,2016-03-22 14:52:57,BMW_318i_neustes_Model_0Km,privat,Angebot,31999,control,limousine,2016,manuell,136,3er,5000,2,benzin,bmw,NaN,2016-03-22 00:00:00,0,45149,2016-04-06 05:15:42
85,2016-03-11 12:36:21,Toyota_yaris_cool,privat,Angebot,5000,test,kleinwagen,2009,manuell,0,yaris,60000,12,NaN,toyota,NaN,2016-03-11 00:00:00,0,30916,2016-04-07 08:17:01
86,2016-04-03 18:53:46,Mitsubishi_Colt_CAO_16_V_Malibu_20_Jahre_in_1....,privat,Angebot,399,control,coupe,1995,manuell,113,colt,125000,10,benzin,mitsubishi,ja,2016-04-03 00:00:00,0,58507,2016-04-03 18:53:46
89,2016-04-05 00:57:27,Audi_A6_2.4,privat,Angebot,7900,control,limousine,2005,automatik,177,a6,125000,1,benzin,audi,nein,2016-04-05 00:00:00,0,92660,2016-04-07 08:46:52
90,2016-03-07 13:50:22,Audi_A3_2.0_TDI_Cabrio_S_tronic__clean_diesel_...,privat,Angebot,34900,control,cabrio,2014,automatik,150,a3,20000,5,diesel,audi,nein,2016-03-07 00:00:00,0,32052,2016-03-24 03:47:03
91,2016-03-05 21:49:55,BMW_120i,privat,Angebot,7999,test,limousine,2006,manuell,150,1er,125000,4,benzin,bmw,nein,2016-03-05 00:00:00,0,30419,2016-04-07 08:44:57
95,2016-03-30 15:59:17,Jaguar_XJ_5.0_V8_Portfolio,privat,Angebot,36000,test,limousine,2012,automatik,385,andere,40000,8,benzin,jaguar,nein,2016-03-30 00:00:00,0,21720,2016-04-07 06:44:54
97,2016-04-01 16:54:40,Treuer_Begleiter_abzugeben,privat,Angebot,800,control,bus,2000,manuell,63,andere,125000,8,benzin,mazda,ja,2016-04-01 00:00:00,0,87648,2016-04-05 12:17:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49918,2016-04-03 13:46:18,Peugeot_206_cc_1_6_16V_Coupe_Cabrio__schwarz_L...,privat,Angebot,5050,control,cabrio,2007,manuell,109,2_reihe,100000,2,benzin,peugeot,nein,2016-04-03 00:00:00,0,79238,2016-04-05 12:44:32
49921,2016-03-05 14:29:00,Smart_ForTwo_Cabrio_Schwarz_HU+AU_bis_Oktober_...,privat,Angebot,2350,test,cabrio,2000,automatik,54,fortwo,100000,4,benzin,smart,NaN,2016-02-16 00:00:00,0,55411,2016-04-05 12:30:49
49923,2016-03-05 15:41:51,Toyota_Yaris_1.0_VVT_i,privat,Angebot,4500,control,kleinwagen,2009,manuell,69,yaris,125000,1,benzin,toyota,nein,2016-03-05 00:00:00,0,32676,2016-04-07 05:45:26
49924,2016-03-21 14:43:15,Seat_Ibiza_1.Hand__Scheckheft,privat,Angebot,3400,control,kleinwagen,2008,manuell,60,ibiza,125000,5,benzin,seat,nein,2016-03-21 00:00:00,0,44357,2016-03-24 03:15:28
49929,2016-03-27 13:58:31,Opel_Corsa_Swing,privat,Angebot,1390,test,kleinwagen,1993,manuell,60,corsa,125000,11,benzin,opel,nein,2016-03-27 00:00:00,0,40229,2016-04-07 09:46:31
49931,2016-03-22 16:54:39,LANCIA_luxusausstattung_limosine_1.8_fuer_export,privat,Angebot,799,test,limousine,2003,manuell,131,lybra,100000,2,benzin,lancia,ja,2016-03-22 00:00:00,0,80807,2016-04-06 08:17:09
49933,2016-04-03 23:55:34,Volkswagen_New_Beetle_1.9_TDI,privat,Angebot,5500,control,limousine,2001,manuell,90,beetle,125000,1,diesel,volkswagen,nein,2016-04-03 00:00:00,0,41352,2016-04-06 08:16:28
49934,2016-03-11 19:44:33,Mazda_MX_5_1.6i_16V_Rostfrei__Top_Zustand,privat,Angebot,4999,test,cabrio,1999,manuell,110,mx_reihe,80000,6,benzin,mazda,nein,2016-03-11 00:00:00,0,52224,2016-04-06 00:16:54
49939,2016-03-13 15:43:19,Audi_TT_Roadster_2.0_TFSI,privat,Angebot,16995,test,cabrio,2007,manuell,200,tt,80000,3,benzin,audi,nein,2016-03-13 00:00:00,0,94522,2016-04-06 17:16:35
49941,2016-03-15 00:53:25,Maserati_Ghibli_Diesel_Automatik,privat,Angebot,62000,test,limousine,2015,automatik,275,NaN,10000,8,diesel,sonstige_autos,nein,2016-03-14 00:00:00,0,10179,2016-03-30 23:17:48
49942,2016-03-09 19:43:33,Audi_A3_2.0_TDI_Sportback_DPF_Ambition,privat,Angebot,10000,test,kombi,2007,manuell,140,a3,125000,10,diesel,audi,nein,2016-03-09 00:00:00,0,66663,2016-04-05 13:15:31
49948,2016-03-22 16:44:57,Hyundai_ix35_2.0_CRDi_4WD_Automatik,privat,Angebot,19900,test,suv,2013,automatik,184,i_reihe,70000,5,diesel,hyundai,nein,2016-03-22 00:00:00,0,96515,2016-04-06 06:45:11
49950,2016-03-15 13:45:36,Volvo_V70_2_II__2002__AHK__Klima__Volleder,privat,Angebot,3099,control,kombi,2002,manuell,140,NaN,30000,5,NaN,volvo,nein,2016-03-15 00:00:00,0,23554,2016-03-21 09:46:27
49952,2016-03-21 21:45:33,VW_POLO__9N3_Silber_1_2_Ltr._5_tuerer__96_tsd....,privat,Angebot,4300,control,kleinwagen,2005,manuell,64,polo,100000,3,benzin,volkswagen,nein,2016-03-21 00:00:00,0,35418,2016-04-07 01:44:58
49953,2016-03-30 17:55:21,Ford_Mustang,privat,Angebot,14750,control,coupe,1967,automatik,163,mustang,125000,8,benzin,ford,nein,2016-03-30 00:00:00,0,84478,2016-03-30 17:55:21
49956,2016-03-28 22:39:12,Toyota_Yaris_1.3_VVT_i_Executive_MODEL_2007,privat,Angebot,4450,control,kleinwagen,2006,manuell,87,yaris,125000,9,benzin,toyota,nein,2016-03-28 00:00:00,0,44357,2016-03-30 15:45:26
49963,2016-03-26 19:52:59,Mercedes_Benz_B_200_CDI_Special_Edition,privat,Angebot,7600,control,bus,2007,manuell,140,b_klasse,125000,5,diesel,mercedes_benz,nein,2016-03-26 00:00:00,0,92272,2016-03-28 09:45:44
49965,2016-03-11 10:53:51,Opel_Astra_1.6_Lenkradheizung~Sitzheizung,privat,Angebot,6700,test,limousine,2011,manuell,116,astra,125000,3,benzin,opel,nein,2016-03-11 00:00:00,0,37627,2016-03-15 01:44:57
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,15800,control,bus,2010,automatik,136,c4,60000,4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,9700,control,kleinwagen,2012,automatik,88,jazz,100000,11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,11000,test,kleinwagen,2011,manuell,90,polo,70000,11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,400,control,kombi,1995,manuell,105,escort,125000,3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,1950,control,kleinwagen,2004,manuell,0,fabia,90000,7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,15900,control,limousine,2010,automatik,218,300c,125000,11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,21990,control,limousine,2013,manuell,150,a3,50000,11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,17500,test,limousine,2012,manuell,156,a_klasse,30000,12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,4800,control,kleinwagen,2009,manuell,120,andere,125000,9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07

In [104]:
autos['registration_year'].describe()

count    16602.000000
mean      2005.396217
std          8.592109
min       1910.000000
25%       2002.000000
50%       2007.000000
75%       2011.000000
max       2016.000000
Name: registration_year, dtype: float64

In [106]:
autos['registration_year'].value_counts(normalize=True)

2009    0.083544
2011    0.079087
2012    0.070835
2010    0.070172
2008    0.069329
2006    0.056258
2007    0.055596
2005    0.050837
2013    0.045657
2014    0.039754
2004    0.039513
2003    0.038128
2000    0.033068
2002    0.032526
2001    0.030538
1999    0.026985
2015    0.023431
1998    0.023070
1997    0.017769
2016    0.017648
1995    0.014456
1996    0.013312
1990    0.006023
1994    0.005963
1992    0.005542
1993    0.005481
1991    0.004518
1980    0.003554
1989    0.003012
1985    0.002590
          ...
1966    0.000904
1977    0.000783
1965    0.000783
1964    0.000723
1976    0.000723
1973    0.000723
1975    0.000723
1961    0.000241
1959    0.000241
1956    0.000241
1910    0.000241
1937    0.000181
1958    0.000181
1962    0.000181
1950    0.000181
1963    0.000181
1941    0.000120
1951    0.000120
1957    0.000120
1954    0.000120
1955    0.000120
1934    0.000120
1948    0.000060
1931    0.000060
1927    0.000060
1929    0.000060
1943    0.000060
1938    0.000060
1939    0.000060
1952    0.000060
Name: registration_year, Length: 77, dtype: float64

In [107]:
autos['registration_year'].describe()

count    16602.000000
mean      2005.396217
std          8.592109
min       1910.000000
25%       2002.000000
50%       2007.000000
75%       2011.000000
max       2016.000000
Name: registration_year, dtype: float64

we can see here from the distribution that the later years closer to 2016 are the most frequent in number of vehicles with the highest value being 2009 which also aligns close to the 50% mode of 2007 and  to the mean of 2005.

Identify the unique values we want to aggregate by
- Create an empty dictionary to store our aggregate data
- Loop over the unique values, and for each:
    - Subset the dataframe by the unique values
    - Calculate the mean of whichever column we're interested in
    - Assign the val/mean to the dict as k/v.

In [117]:
autos['brand'].value_counts(ascending=False)

volkswagen        2996
opel              1619
bmw               1368
mercedes_benz     1280
ford              1252
audi              1156
renault            769
fiat               599
peugeot            517
smart              483
skoda              406
seat               357
nissan             337
mini               324
citroen            312
toyota             306
sonstige_autos     298
hyundai            280
mazda              276
porsche            190
chevrolet          180
suzuki             169
kia                168
honda              152
mitsubishi         136
alfa_romeo          98
dacia               97
volvo               77
daihatsu            62
trabant             61
chrysler            43
land_rover          38
subaru              36
jeep                34
daewoo              34
jaguar              27
lada                24
lancia              21
rover               14
saab                 6
Name: brand, dtype: int64

In [118]:
autos['brand'].shape

(16602,)

In [124]:
autos['brand'].value_counts().shape

(40,)

In [130]:
autos['brand'].value_counts().sort_index()

alfa_romeo          98
audi              1156
bmw               1368
chevrolet          180
chrysler            43
citroen            312
dacia               97
daewoo              34
daihatsu            62
fiat               599
ford              1252
honda              152
hyundai            280
jaguar              27
jeep                34
kia                168
lada                24
lancia              21
land_rover          38
mazda              276
mercedes_benz     1280
mini               324
mitsubishi         136
nissan             337
opel              1619
peugeot            517
porsche            190
renault            769
rover               14
saab                 6
seat               357
skoda              406
smart              483
sonstige_autos     298
subaru              36
suzuki             169
toyota             306
trabant             61
volkswagen        2996
volvo               77
Name: brand, dtype: int64

In [125]:
#this should filter the top 20% since of 40 is 8 - so yes.
autos['brand'].value_counts(ascending=False).head(int(len(autos['brand'].value_counts())*.2))

volkswagen       2996
opel             1619
bmw              1368
mercedes_benz    1280
ford             1252
audi             1156
renault           769
fiat              599
Name: brand, dtype: int64

In [227]:
top20_brands = autos['brand'].value_counts(ascending=False).head(int(len(autos['brand'].value_counts())*.2))
top20_brands = top20_brands.index
top20_brands

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'ford', 'audi', 'renault',
       'fiat'],
      dtype='object')

In [131]:
#choose by distribution
autos['brand'].value_counts(normalize=True, dropna=False)

volkswagen        0.180460
opel              0.097518
bmw               0.082400
mercedes_benz     0.077099
ford              0.075413
audi              0.069630
renault           0.046320
fiat              0.036080
peugeot           0.031141
smart             0.029093
skoda             0.024455
seat              0.021503
nissan            0.020299
mini              0.019516
citroen           0.018793
toyota            0.018432
sonstige_autos    0.017950
hyundai           0.016865
mazda             0.016625
porsche           0.011444
chevrolet         0.010842
suzuki            0.010179
kia               0.010119
honda             0.009156
mitsubishi        0.008192
alfa_romeo        0.005903
dacia             0.005843
volvo             0.004638
daihatsu          0.003734
trabant           0.003674
chrysler          0.002590
land_rover        0.002289
subaru            0.002168
jeep              0.002048
daewoo            0.002048
jaguar            0.001626
lada              0.001446
lancia            0.001265
rover             0.000843
saab              0.000361
Name: brand, dtype: float64

In [265]:
#now only choose the ones that are greater than 5% of total - create boolean series 
brands = autos['brand'].value_counts(normalize=True, dropna=False)
brands_bool = brands>0.05 #not autos[brands>0.05]
top_norm_brands = brands[brands_bool]
top_norm_brands

volkswagen       0.180460
opel             0.097518
bmw              0.082400
mercedes_benz    0.077099
ford             0.075413
audi             0.069630
Name: brand, dtype: float64

In [266]:
top_norm_brands = top_norm_brands.index
top_norm_brands

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'ford', 'audi'], dtype='object')

In [256]:
brands[top_norm_brands.index]
norm_brands = autos['brand'].head(6)
norm_brands

2         volkswagen
3              smart
12             smart
15    sonstige_autos
22              mini
24               bmw
Name: brand, dtype: object

here we have filtered the top 20% of brands by frequency of purchases and for the other method we filtered by brands that have over 5% of total purchases -> normalized value > 0.05 or 5%.

In [160]:
top20_brands_dict = {}
top_norm_brands_dict = {}

In [164]:
print(top20_brand.mean())
print(autos))

1379.875
0.097086696381962

In [287]:
for b in top20_brands:
    brand_rows = autos[autos['brand']==b]
    mean = brand_rows['price'].mean()
    top20_brands_dict[b] = mean
print(top20_brands_dict)

{'volkswagen': 9799.855140186915, 'audi': 18535.334775086507, 'mercedes_benz': 15985.01796875, 'opel': 5294.9382334774555, 'ford': 15926.55910543131, 'fiat': 4051.093489148581, 'bmw': 15620.579678362574, 'renault': 4251.962288686606}

In [288]:
#make this dict a dataframe
top20_df = pd.DataFrame(top20_brands_dict, index=['brand','mean_price'])
top20_df

,audi,bmw,fiat,ford,mercedes_benz,opel,renault,volkswagen
brand,18535.334775,15620.579678,4051.093489,15926.559105,15985.017969,5294.938233,4251.962289,9799.85514
mean_price,18535.334775,15620.579678,4051.093489,15926.559105,15985.017969,5294.938233,4251.962289,9799.85514

In [289]:
#or 
top20 = pd.DataFrame(list(top20_brands_dict.items()),columns=['brand','mean_price'])
top20.sort_values(by='mean_price', ascending=False)

           brand    mean_price
1           audi  18535.334775
2  mercedes_benz  15985.017969
4           ford  15926.559105
6            bmw  15620.579678
0     volkswagen   9799.855140
3           opel   5294.938233
7        renault   4251.962289
5           fiat   4051.093489

In [290]:
for b in top_norm_brands:
    brand_rows = autos[autos['brand']==b]
    mean = brand_rows['price'].mean()
    top_norm_brands_dict[b] = mean
print(top_norm_brands_dict)

{'volkswagen': 9799.855140186915, 'audi': 18535.334775086507, 'mercedes_benz': 15985.01796875, 'opel': 5294.9382334774555, 'ford': 15926.55910543131, 'bmw': 15620.579678362574}

In [291]:
norm_brands_df = pd.DataFrame(list(top_norm_brands_dict.items()), columns = ['brand','mean_price'])
norm_brands_df.sort_values(by='mean_price', ascending=False)
#list of brands that occupy greather than 5% of total vehicle purchases

           brand    mean_price
1           audi  18535.334775
2  mercedes_benz  15985.017969
4           ford  15926.559105
5            bmw  15620.579678
0     volkswagen   9799.855140
3           opel   5294.938233

In [296]:
top20_mileage_dict = {}
mileage_dict = {}
for b in top20_brands:
    brand_rows = autos[autos['brand']==b]
    mean = brand_rows['odometer_km'].mean()
    top20_mileage_dict[b] = mean
print(top20_mileage_dict)
for b in top_norm_brands:
    brand_rows = autos[autos['brand']==b]
    mean = brand_rows['odometer_km'].mean()
    mileage_dict[b] = mean
print(mileage_dict)

{'volkswagen': 79909.87983978639, 'audi': 77141.00346020762, 'mercedes_benz': 82414.0625, 'opel': 85821.49474984559, 'ford': 82831.4696485623, 'fiat': 84298.83138564274, 'bmw': 84557.7485380117, 'renault': 87236.67100130039}
{'volkswagen': 79909.87983978639, 'audi': 77141.00346020762, 'mercedes_benz': 82414.0625, 'opel': 85821.49474984559, 'ford': 82831.4696485623, 'bmw': 84557.7485380117}

In [295]:
top20

           brand    mean_price
0     volkswagen   9799.855140
1           audi  18535.334775
2  mercedes_benz  15985.017969
3           opel   5294.938233
4           ford  15926.559105
5           fiat   4051.093489
6            bmw  15620.579678
7        renault   4251.962289

In [298]:
top20_series = pd.Series(top20_mileage_dict)
top20_series

audi             77141.003460
bmw              84557.748538
fiat             84298.831386
ford             82831.469649
mercedes_benz    82414.062500
opel             85821.494750
renault          87236.671001
volkswagen       79909.879840
dtype: float64

In [301]:
top20_df = pd.DataFrame(top20_series, columns=['mean_mileage'])
top20_df

               mean_mileage
audi           77141.003460
bmw            84557.748538
fiat           84298.831386
ford           82831.469649
mercedes_benz  82414.062500
opel           85821.494750
renault        87236.671001
volkswagen     79909.879840

In [304]:
top20_price = pd.Series(top20_brands_dict)
top20_price

audi             18535.334775
bmw              15620.579678
fiat              4051.093489
ford             15926.559105
mercedes_benz    15985.017969
opel              5294.938233
renault           4251.962289
volkswagen        9799.855140
dtype: float64

In [307]:
top20_df['mean_price'] = top20_price
top20_df
#if index is the same it works! add column with series of prices

               mean_mileage    mean_price
audi           77141.003460  18535.334775
bmw            84557.748538  15620.579678
fiat           84298.831386   4051.093489
ford           82831.469649  15926.559105
mercedes_benz  82414.062500  15985.017969
opel           85821.494750   5294.938233
renault        87236.671001   4251.962289
volkswagen     79909.879840   9799.855140

the higher the mileage average the lower the price. small correllation

In [311]:
print(top20_df)

               mean_mileage    mean_price
audi           77141.003460  18535.334775
bmw            84557.748538  15620.579678
fiat           84298.831386   4051.093489
ford           82831.469649  15926.559105
mercedes_benz  82414.062500  15985.017969
opel           85821.494750   5294.938233
renault        87236.671001   4251.962289
volkswagen     79909.879840   9799.855140